<head>
	<title>{{ .Site.Title }}</title>
	<meta charset="UTF-8">
	<meta name="descrition" content="{{ .Summary }}">
    <meta name = "viewport" content = "user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width">
	{{ $main := resources.Get "sass/main.scss" | resources.ExecuteAsTemplate "sass/tpl.scss" . | resources.ToCSS "style/main.css" }}
	{{ if .Site.IsServer }}
		<link rel="stylesheet" href="{{ $main.Permalink }}">
	{{ else }}
		<link rel="stylesheet" href="{{ ($main | minify | fingerprint).Permalink }}">
	{{ end }}
	
</head>